@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: medium;
    font-size: 30px;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Pretendard';
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
}

.layout {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:active {
    color: white;
}

a.top {
  position: fixed;
  left: 93%;
  bottom: 50px;
  display: none;
  z-index: 7;
}

.top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 100;
    background-color: #2D3438;
    border: 1px white solid;
    background-image: url("../img/up.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

/* 헤더 */

header {
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: 90px;
    margin: 0 auto;
    position: absolute;
    font-family: 'Pretendard';
    font-weight: 500;
    z-index: 5;
}

header nav ul {
    display: flex;
    text-align: center;
    font-size: 18px;
}

header nav ul li {
    padding: 30px 15px;
    width: 100px;
    padding: 35px;
    margin-top: 1%;
}

header img {
    margin-left: 110px;
    margin-top: 35px;
    width: 50px;
    height: 50px;
}

/* 메인 */

.main {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
}

#main1 {
    position: absolute;
    margin-top: -3%;
}

#main1 img {
    width: 100%;
}

/* 오버뷰 */

.overview {
    width: 100%;
    height: 120vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.overveiw1 {
    background-image: url(../img/overview.png);
}

#overview2 {
    text-align: center;
}

#overview2 img {
    width: 350px;
    margin-top: 25vh;
}

#overview3 {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: #75FAA6;
    margin-top: 30px;
}

#overview4 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #75FAA6;
    margin-top: 30px;
    line-height: 160%;
    font-family: 'Pretendard';
}


/* 백그라운드 */

.background {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#background1 {
    font-size: 40px;
    text-align: center;
    color: #232529;
    font-weight: 300;
    margin-top: 280px;
}

#background1 span {
    font-weight: 700;
}

#background2 {
    font-size: 20px;
    text-align: center;
    margin-top: 45px;
    line-height: 200%;
    color: #7A7A7A;
}

#background2 span {
    font-weight: 700;
}

/* 유저 리서치 */

.re {
    width: 100%;
    height: 240vh;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
}

#num2 {
    position: absolute;
    top: 10%;
    left: 14%;
    z-index: 1;
}

#num2 img {
    width: 44%;
}

#num3 {
    position: absolute;
    top: 10%;
    left: 54%;
}

#num3 img {
    width: 73%;
}

#num4 {
    position: absolute;
    top: 40%;
    left: 14%;
}

#num4 img {
    width: 85%;
}

#num5 {
    position: absolute;
    z-index: 5;
    margin-top: 21.8%;
    left: 20%;
}

#num5 img {
    width: 25%;
}

#num6 {
    position: absolute;
    top: 18%;
    left: 60%;
    z-index: 3;
}

#num6 img {
    width: 55%;
}

#num7 {
    position: absolute;
    top: 46.5%;
    left: 20%;
}

#num7 img {
    width: 76%;
}

/* 유저리서치 결과 */

#num8 {
    position: absolute;
    top: 67%;
    left: 10%;
    width: 500px;
}

#num9 {
    position: absolute;
    top: 79%;
    font-size: 34px;
    text-align: left;
    left: 14.7%;
    line-height: 140%;
}

#num9 span {
    font-weight: 700;
}

#num10 {
    text-align: left;
    position: absolute;
    top: 84%;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    left: 14.7%;
    color: #7A7A7A;
}

/* 유저인사이트 */

.insight {
    width: 100%;
    height: 150vh;
    background-color: #f4f4f4;
}

#insight1 {
    position: relative;
}

#insight2 {
    position: absolute;
    left: 17%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#insight2 img {
    width: 115%;
    margin-top: 25%;
    left: 33%;
}

#insight3 {
    position: relative;
    padding-top: 5%;
}

#insight4 {
    position: absolute;
    left: 14%;
}

#insight4 img {
    width: 87%;
    margin-top: 52vh;
}

/* 밑줄효과 */

[class*=txt-highlight] {
    display: inline-block;
    line-height: inherit;
    font-weight: inherit;
    vertical-align: top;
    position: relative;
    z-index: 0;
    padding: 0 2px;
    overflow: hidden;
}

[class*=txt-highlight]::after {
    content: '';
    display: block;
    width: 0;
    height: 20px;
    z-index: -1;
    border-bottom: 18px solid #75FAA6;
    position: absolute;
    left: 0;
    bottom: 0;
}

.move [class*=txt-highlight]::after {
    animation: highlight 600ms linear;
    animation-fill-mode: both;
    animation-delay: 600ms;
}

@keyframes highlight {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* IA */

.ia {
    width: 100%;
    height: 130vh;
    background-color: #2D3438;
}

#ia1 {
    text-align: center;
}

#ia1 img {
    width: 70%;
    margin-top: 20%;
}

/* 컬러 */

.color {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10%;
}

#color1 {
    position: relative;
    width: 100%;
    height: 100%;
}

#color2 img {
    width: 100%;
    height: 100%;
}

/* 타이포그래피 */

.typo {
    width: 100%;
    height: 110vh;
}

#typo1 {
    position: relative;
    padding-left: 15%;
}

#typo2 {
    font-size: 100px;
    font-weight: 600;
    text-align: left;
    position: absolute;
    padding-top: 13%;
}

#typo3 {
    text-align: center;
    padding-top: 24%;
    padding-left: 1.5%;
}

#typo3 img {
    width: 73%;
}

/* 그래픽 */

.grapic {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#gr1 {
    margin-top: 16%;
}

#gr1 img {
    width: 100%;
}

/* 로고 */

.logo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10%;
}

#logo1 {
    text-align: center;
}

#logo2 {
    font-size: 22px;
    color: #7A7A7A;
    margin-top: 7%;
    text-align: center;
}

#logo3 {
    margin-top: 18%;
    text-align: center;
}

/* 온보딩 */

.onboarding {
    width: 100%;
    height: 125vh;
    background-color: #232529;
    overflow: hidden;
}

#on {
    position: relative;
    width: 100%;
}

#on1 {
    position: absolute;
    margin-top: 15%;
    margin-left: -8%;
}

#on1 img {
    width: 60%;
}

#on2 {
    position: absolute;
    margin-top: 28%;
    margin-left: 40%;
}

#on2 img {
    width: 80%;
}

#on3 {
    color: white;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    margin-top: 13%;
    margin-left: 15%;
}

/* 메인홈 */

.mainhome {
    width: 100%;
    height: 230vh;
    background-color: #232529;
    overflow: hidden;
}

#on6 {
    position: relative;
}

#on4 {
    text-align: center;
    padding-top: 15%;
    position: absolute;
    z-index: 5;
}

#on4 img {
    width: 28%;
}

#on5 {
    position: absolute;
    margin-top: 24%;
    margin-left: 61%;
}

#on5 img {
    width: 40%;
}

#on7 {
    position: absolute;
    margin-top: 41%;
    margin-left: 69%;
}

#on8 {
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding-bottom: 28px;
}

#on9 {
    font-weight: 400;
    color: white;
    line-height: 170%;
    font-size: 18px;
    opacity: 80%;
}

#on10 {
    position: absolute;
    margin-top: 45%;
    margin-left: 16%;
}

#on10 img {
    width: 33%;
}

#on11 {
    position: absolute;
    margin-top: 67%;
    margin-left: 16%;
}

#on12 {
    position: absolute;
    margin-left: 60%;
    margin-top: 73%;
}

#on12 img {
    width: 20%;
}

#on13 {
    position: absolute;
    margin-top: 70%;
    margin-left: 68%;
}

#on14 {
    position: absolute;
    margin-top: 87%;
    margin-left: 33%;
    z-index: 3;
}

#on14 img {
    width: 18%;
}

#on15 {
    position: absolute;
    margin-top: 87%;
    margin-left: 16%;
}

/* 추천페이지 */

.recommend {
    width: 100%;
    height: 120vh;
}

#recommend1 {
    font-size: 19px;
    color: #7A7A7A;
    font-weight: 400;
    padding-top: 12%;
    margin-left: 15%;
    line-height: 150%;
}

#recommend2 {
    position: relative;
    margin-top: 5%;
    width: 95%;
    margin-left: 2%;
}

#recommend3 {
    position: absolute;
    margin-left: 12%;
    margin-top: -6%;
}

#recommend3 img {
    width: 28%;
}

#recommend4 {
    position: absolute;
    margin-left: 43%;
    margin-top: -1%;
}

#recommend4 img {
    width: 33%;
}

#recommend5 {
    position: absolute;
    margin-left: 71%;
    margin-top: -1%;
}

#recommend5 img {
    width: 65.5%;
}

#re1 {
    position: absolute;
    margin-left: 35.5%;
    margin-top: 19%;
    z-index: -1;
}

#re1 img {
    width: 20%;
}

#re2 {
    position: absolute;
    margin-left: 63%;
    margin-top: 19%;
}

#re2 img {
    width: 20%;
}

/* 휠리헬퍼 */

.help {
    width: 100%;
    height: 185vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/help1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#help1 {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-top: 10%;
    margin-left: 15%;
    line-height: 140%;
}

#help1 span {
    font-weight: 700;
}

#help2 {
    font-size: 20px;
    color: #7A7A7A;
    text-align: left;
    margin-left: 15%;
    font-weight: 500;
    margin-top: 1%;
    line-height: 150%;
}

#help3 {
    position: relative;
}

#help4 {
    position: absolute;
    text-align: center;
    z-index: 3;
    margin-top: 2%;
}

#help5 {
    position: absolute;
    text-align: center;
    margin-top: 18%;
    margin-left: 1%;
}

#help5 img {
    width: 80%;
}

#help4 img {
    width: 30%;
}

/* 목업 */

.phone {
    width: 100%;
    height: 100%;
    margin-bottom: 10vw;
}

#phone1 img {
    width: 100%;
}

/* 비디오 */

.video {
    width: 100%;
    margin-top: 12%;
    margin-bottom: 10%;
    overflow: hidden;
}

#video1 {
    text-align: center;
}

.outer {
    display: flex;
    justify-content: center;
}

.youtubeBox {
    position: relative;
    width: 80vw;
    height: 45vw;
    margin-top: 20px;
    border: #232529 1px border;
}

/* 푸터 */

.footer {
    width: 100%;
    height: 590px;
    background-color: #75FAA6;
    overflow: hidden;
}

.fu {
    position: relative;
}

.ch {
    width: 90%;
    height: 290px;
    margin: 0 auto;
}

.ch ul {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
}

.ch li {
    text-align: center;
}

.ch img {
    width: 80%;
}

.ch li {
    width: 290px;
    height: 290px;
}

#f {
    width: 90%;
    text-align: left;
    margin-left: 9%;
    padding-top: 4%;
    position: absolute;
}

#f1 {
    top: 1%;
}

#f1 img {
    width: 70%;
}

.ch1 {
    font-weight: 800;
    color: #454545;
    margin-top: 0.5%;
    font-size: 21px;
}

.ch2 {
    font-weight: 600;
    font-size: 21px;
    margin-top: 0.4%;
}

.ch3 {
    margin-top: 1.5%;
}

.ch3 a {
    color: #4F4F4F;
    font-size: 17px;
    font-weight: 500;
}

#f3 {
    top: 1%;
}

#f2 {
    width: 90%;
    text-align: left;
    margin-left: 26.3%;
    padding-top: 4%;
    position: absolute;
}

.ff {
    position: relative;
}

.border1 {
    border-left: 1px solid #2B2B2B;
    height: 120px;
    opacity: 80%;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 23%;
}

.border2 {
    border-left: 1px solid #2B2B2B;
    height: 120px;
    opacity: 80%;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 40.5%;
}

#f4 {
    top: 1%;
}

#f5 {
    width: 90%;
    text-align: left;
    margin-left: 44.5%;
    padding-top: 4%;
    position: absolute;
}

.border3 {
    border-left: 1px solid #2B2B2B;
    height: 120px;
    opacity: 80%;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 59.5%;
}

#f6 {
    top: 1%;
}

#f7 {
    width: 90%;
    text-align: left;
    margin-left: 62%;
    padding-top: 3.9%;
    position: absolute;
}

.border4 {
    border-left: 1px solid #2B2B2B;
    height: 120px;
    opacity: 80%;
    position: absolute;
    margin-top: 3.5%;
    margin-left: 77%;
}

#f8 {
    top: 1%;
}

#f9 {
    width: 90%;
    text-align: left;
    margin-left: 80%;
    padding-top: 3.9%;
    position: absolute;
}